/* Header and Footer */
.header {
    padding-left: 1rem;
    padding-right: 1rem;

    /* Responsive padding for larger screens */
    @media (min-width: 1024px) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    @media (min-width: 1280px) {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    @media (min-width: 1536px) {
        padding-left: 11rem;
        padding-right: 11rem;
    }

    position: fixed;
    width: 100%;
    backdrop-filter: blur(2px);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 20;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 1px 0 rgba(128, 128, 128, 0.1);
}

.header a {
    color: var(--text-color);
    margin-right: 1rem;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 2rem;
}

/* Title part (visible by default) */
.floating-card {
    position: relative;
    background-color: #4a5568;
    color: #e2e8f0;;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

/* Enhanced hover effect */
.floating-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.floating-card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: -1rem;
}

.floating-card p {
    font-size: 0.5rem;
    font-weight: 100;
    line-height: 1.5;
}

/* Hidden description (initially invisible) */
.hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4a5568;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

/* Show hidden description on hover */
.card-container:hover .hidden {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* Fade out the title when hovering over the card container */
.card-container:hover .floating-card {
    opacity: 0;
}

/* Article */
.inline-code {
    background-color: "#f4f4f4";
    padding: "0.2em";
}

.block-code {
    background-color: "#f4f4f4";
    padding: "1em";
}