/* Header and Footer */
.header {
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 1024px) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    @media (min-width: 1280px) {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    @media (min-width: 1536px) {
        padding-left: 11rem;
        padding-right: 11rem;
    }

    position: fixed;
    width: 100%;
    backdrop-filter: blur(2px);
    background: linear-gradient(to bottom, var(--background-color), rgba(255, 255, 255, 0));
    z-index: 20;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 1px 0 rgba(128, 128, 128, 0.1);
}

.header a {
    color: var(--text-color);
    margin-right: 1rem;
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
}
.card-container:hover .floating-card {
    opacity: 0;
}
.card-container:hover .hidden {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.floating-card {
    position: relative;
    background-color: var(--primary-color);
    color: var(--text-color);
    min-width: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 1;
    backface-visibility: hidden;
    will-change: transform, opacity;
}
.floating-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.floating-card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: -1rem;
}
.floating-card p {
    font-size: 0.5rem;
    font-weight: 100;
    line-height: 1.5;
}

.image-floating-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    border-radius: 8px;
}
.image-floating-card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--secondary-color) 80%, transparent);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 2;
    overflow-y: auto;
    backface-visibility: hidden;
    will-change: transform, opacity;
}

/* floating sections */
.floating-section {
    position: relative;
    align-items: center;
    width: 90%;
    max-width: 2000px;
    padding: 1rem;
    gap: 2rem;
    padding-top: 0;
    border-radius: 16px;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    /* for animation */
    opacity: 0;
    transform: translateY(50px);
    transition: transform 0.6s ease-out;
}
.floating-section.revealed {
    opacity: 1;
    transform: translateY(0);
}

.section-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    margin-bottom: -1rem;
}

.section-description {
    color: var(--text-color);
    text-align: center;
    margin-bottom: -2rem;
}

/* Article */
.inline-code {
    background-color: "#f4f4f4";
    padding: "0.2em";
}

.block-code {
    background-color: "#f4f4f4";
    padding: "1em";
}